body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.top-banner {
  position: relative;
  min-height: 580px;
}

.ba_film_media .top-banner {
  background-image: url('../images/ba_film_media/Banner_1_a.png');
}

.visual_arts .top-banner {
  background-image: url('../images/visual_arts/Banner_2_a.png');
}

.ma_film_media .top-banner {
  background-image: url('../images/ma_film_media/Banner_3_a.png');
}

.enquiry_form .top-banner {
  background-image: url('../images/enquiry_form/Banner_4.png');
}

.top-banner img {
  width: 100%;
}

.top-banner .title {
  width: 30%;
  position: absolute;
  top: calc(50% - 80px);
  left: 25%;
  transform: translate(-50%, -50%);
}

.top-banner p {
  color: #fff;
  font-weight: bold;
  font-size: 35px;
}

.enquire_now {
  color: #fff;
  padding: 10px 25px;
  text-align: center;
  border: none;
  font-size: 22px;
  text-decoration: none;
}

.enquire_now.yellow {
  background-color: #EEB706;
}

.enquire_now.green {
  background-color: #66BD7B;
}

.tabs {
  position: relative;
  width: 75%;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 20px 20px 0 0;
  bottom: 80px;
  background-color: #fff;
}

.tabs ul {
  display: flex;
  margin: 0 auto;
  padding-inline-start: 0px;
}

.tabs ul li {
  list-style: none;
  width: 40%;
  padding: 30px 0px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #707070;
}

.tabs ul li a {
  color: #000;
  text-decoration: none;
}

.ba_film_media .tabs ul li:nth-child(2)::after,
.ma_film_media .tabs ul li:nth-child(1)::after {
  content: " ";
  position: absolute;
  border-left: 1px solid #707070;
  top: 30%;
  right: 0;
  height: 40%;
  margin-top: auto;
  margin-bottom: auto;
}

.tabs ul li.active {
  border-right: 1px solid #707070;
  border-radius: 20px 20px 0 0;
  border-bottom: none !important;
}

.visual_arts .tabs ul li.active,
.ma_film_media .tabs ul li.active {
  border-left: 1px solid #707070;
}

.tabs ul li.active a {
  font-weight: bold;
}

.content-section {
  width: 75%;
  margin: 0 auto;
}

.box {
  min-height: 386px;
  position: relative;
}

.box.script-writing {
  background-image: url('../images/ba_film_media/Group_93.png');
}

.box.production {
  background-image: url('../images/ba_film_media/Group_102.png');
}

.box.cinematography {
  background-image: url('../images/ba_film_media/Group_92.png');
}

.box.editing {
  background-image: url('../images/ba_film_media/Group_103.png');
}

.box.sound-design {
  background-image: url('../images/ba_film_media/Group_104.png');
}

.box.digital-marketing {
  background-image: url('../images/ba_film_media/Group_105.png');
}

.box.vfx {
  background-image: url('../images/visual_arts/Group_93.png');
}

.box.digital_imaging {
  background-image: url('../images/visual_arts/Group_106.png');
}

.box .content {
  width: 65%;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.box .content p {
  margin-bottom: 2rem;
}

.box .content.right {
  left: auto;
  right: -25%;
  text-align: right;
}

.bottom-arrow {
  border: 2px solid #EEB706;
}

.bottom-arrow:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: 25px solid #EEB706;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  z-index: 1;
}

.enquiry-form {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5rem auto;
}

.label {
  font-size: 13px;
  color: #000;
  font-weight: 900;
  line-height: 1.5;
  text-transform: uppercase;
  width: 100%;
  padding: 6px 6px 6px 50px;
}

.input-field {
  display: block;
  font-size: 15px;
  color: #9B9B9B;
  line-height: 1.2;
  border: transparent;
  border-bottom: 1px solid #9B9B9B !important;
  width: 90%;
}

.input-field2 {
  font-size: 15px;
  color: #9B9B9B;
  line-height: 1.2;
  border: transparent;
  border-bottom: 1px solid #9B9B9B !important;
  width: 100%;
}

.input-field3 {
  font-size: 15px;
  color: #9B9B9B;
  line-height: 1.2;
  border: transparent;
  border-bottom: 1px solid #9B9B9B !important;
  width: 90%;
}

#name {
  background: url('../images/icons/Icon-material-person-pin.png') no-repeat;
}

#date {
  background: url('../images/icons/Icon-awesome-baby-carriage.png') no-repeat;
}

#contact {
  background: url('../images/icons/Icon-awesome-address-book.png') no-repeat;
}

#select-program {
  background: url('../images/icons/Icon-map-movie-theater.png') no-repeat;
}

#calc {
  background: url('../images/icons/Icon-awesome-calendar-alt.png') no-repeat center right;
  padding-right: 35px;
  width: 24px;
  height: 27px;
  background-size: 40% auto;
}

label#contact {
  display: block;
}

.form-submit-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top:2rem;
}

.form-section1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

.form-section2 {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}

.wrap-input-field {
  width: 100%;
}

.wrap-input-field2 {
  width: 5%;
  display: inline-block;
  margin-right: 15px;
}

.wrap-input-field3 {
  width: 40%;
  display: inline-block;
}

.wrap-input-field4 {
  width: 35%;
  display: inline-block;
}

.input-wrapper {
  display: flex;
  width: 100%;
  margin: 10px 0 2rem 50px;
}

.half-section {
  width: 100%;
  display: inline-block;
  font-size: 0;
}

.half-section .input-field {
  border: transparent !important;
  display: inline-block;
}
.half-section .input-field.wrap-input-field5{
  width: 38%;
}
.half-section .input-field.wrap-input-field6{
  width: 50%;
}
.half-section #Program{
  width: 74%;
}
.half-section select#specialisation{
  margin: 10px 0;
}
#select-specialisation{
  padding: 0;
}

.input-field {
  margin-bottom: 23px;
  position: relative;
}

.input-field:focus, .input-field3:focus, .input-field2:focus {
  outline: none;
}

.form-select {
  position: relative;
}

select {
  color: #9B9B9B;
}

select#Program,
select#specialisation {
  width: 60%;
  margin: 10px 0 10px 50px;
  padding: 8px 0px;
  color: #9B9B9B;
  border: transparent;
  border-bottom: 1px solid #9B9B9B !important;
}

select#Program:focus, select#specialisation {
  outline: none;
}

.checkbox {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-left: 50px;
}
.checkbox label {
  font-size: 14px;
}
.checkbox input {
  width: 16px;
    height: 16px;
  margin: 10px 0px;
  padding: 0;
  vertical-align: middle;
}
.checkbox span a{
  color:#32A4EB;
}
