body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.top-banner {
  position: relative;
  min-height: 580px;
}

.ba_film_media .top-banner {
  background-image: url('../images/ba_film_media/Banner_1_a.png');
}

.visual_arts .top-banner {
  background-image: url('../images/visual_arts/Banner_2_a.png');
}

.ma_film_media .top-banner {
  background-image: url('../images/ma_film_media/Banner_3_a.png');
}

.enquiry_form .top-banner {
  background-image: url('../images/enquiry_form/Banner_4.png');
}

.top-banner img {
  width: 100%;
}

.top-banner .title {
  width: 30%;
  position: absolute;
  top: calc(50% - 80px);
  left: 25%;
  transform: translate(-50%, -50%);
}

.top-banner p {
  color: #fff;
  font-weight: bold;
  font-size: 35px;
}

.enquire_now {
  color: #fff;
  padding: 10px 25px;
  text-align: center;
  border: none;
  font-size: 22px;
  text-decoration: none;
}

.enquire_now.yellow {
  background-color: #EEB706;
}

.enquire_now.green {
  background-color: #66BD7B;
}

.tabs {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  margin-top: 80px;
}

.tabs ul {
  display: flex;
  margin: 0 auto;
  padding-inline-start: 0px;
}

.tabs ul li {
  list-style: none;
  width: 40%;
  padding: 30px 0px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #707070;
}

.tabs ul li a {
  color: #000;
  text-decoration: none;
}

.ba_film_media .tabs ul li:nth-child(2)::after,
.ma_film_media .tabs ul li:nth-child(1)::after {
  content: " ";
  position: absolute;
  border-left: 1px solid #707070;
  top: 30%;
  right: 0;
  height: 40%;
  margin-top: auto;
  margin-bottom: auto;
}

.tabs ul li.active {
  border-right: 1px solid #707070;
  border-radius: 20px 20px 0 0;
  border-bottom: none !important;
}

.visual_arts .tabs ul li.active,
.ma_film_media .tabs ul li.active {
  border-left: 1px solid #707070;
}

.tabs ul li.active a {
  font-weight: bold;
}

.content-section {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

.box {
  min-height: 386px;
  position: relative;
}

.box.script-writing {
  background-image: url('../images/ba_film_media/Group_93.png');
  background-size: 100% 100%;
}

.box.production {
  background-image: url('../images/ba_film_media/Group_102.png');
  background-size: 100% 100%;
}

.box.cinematography {
  background-image: url('../images/ba_film_media/Group_92.png');
  background-size: 100% 100%;
}

.box.editing {
  background-image: url('../images/ba_film_media/Group_103.png');
  background-size: 100% 100%;
}

.box.sound-design {
  background-image: url('../images/ba_film_media/Group_104.png');
  background-size: 100% 100%;
}

.box.digital-marketing {
  background-image: url('../images/ba_film_media/Group_105.png');
  background-size: 100% 100%;
}

.box.vfx {
  background-image: url('../images/visual_arts/Group_93.png');
  background-size: 100% 100%;
}

.box.digital_imaging {
  background-image: url('../images/visual_arts/Group_106.png');
  background-size: 100% 100%;
}

.box .content {
  width: 65%;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.box .content p {
  margin-bottom: 2rem;
}

.box .content.right {
  left: auto;
  right: -25%;
  text-align: right;
}

.bottom-arrow {
  border: 2px solid #EEB706;
}

.bottom-arrow:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: 25px solid #EEB706;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  z-index: 1;
}

.enquiry-form {
  width: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5rem auto;
}

.label {
  font-size: 13px;
  color: #000;
  font-weight: 900;
  line-height: 1.5;
  text-transform: uppercase;
  width: 100%;
  padding: 6px 6px 6px 50px;
}

.input-field {
  display: block;
  font-size: 15px;
  color: #9B9B9B;
  line-height: 1.2;
  border: transparent;
  border-bottom: 1px solid #9B9B9B !important;
  width: 90%;
}

.input-field2 {
  font-size: 15px;
  color: #9B9B9B;
  line-height: 1.2;
  border: transparent;
  border-bottom: 1px solid #9B9B9B !important;
  width: 100%;
}

.input-field3 {
  font-size: 15px;
  color: #9B9B9B;
  line-height: 1.2;
  border: transparent;
  border-bottom: 1px solid #9B9B9B !important;
  width: 90%;
}

#name {
  background: url('../images/icons/Icon-material-person-pin.png') no-repeat;
  background-size:  auto;
}

#date {
  background: url('../images/icons/Icon-awesome-baby-carriage.png') no-repeat;
  background-size: auto;
}

#contact {
  background: url('../images/icons/Icon-awesome-address-book.png') no-repeat;
  background-size: auto;
}

#select-program {
  background: url('../images/icons/Icon-map-movie-theater.png') no-repeat;
}

#calc {
  background: url('../images/icons/Icon-awesome-calendar-alt.png') no-repeat center right;
  padding-right: 35px;
  width: 24px;
  height: 27px;
  background-size: 40% auto;
}

label#contact {
  display: block;
}

.form-submit-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top:2rem;
}

.form-section1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

.form-section2 {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}

.wrap-input-field {
  width: 100%;
}

.wrap-input-field2 {
  width: 5%;
  display: inline-block;
  margin-right: 15px;
}

.wrap-input-field3 {
  width: 40%;
  display: inline-block;
}

.wrap-input-field4 {
  width: 35%;
  display: inline-block;
}

.input-wrapper {
  display: flex;
  width: 100%;
  margin: 10px 0 2rem 50px;
}

.half-section {
  width: 100%;
  display: inline-block;
  font-size: 0;
}

.half-section .input-field {
  border: transparent !important;
  display: inline-block;
}
.half-section .input-field.wrap-input-field5{
  width: 38%;
}
.half-section .input-field.wrap-input-field6{
  width: 50%;
}
.half-section #Program{
  width: 74%;
}
.half-section select#specialisation{
  margin: 10px 0;
}
#select-specialisation{
  padding: 0;
}

.input-field {
  margin-bottom: 23px;
  position: relative;
}

.input-field:focus, .input-field3:focus, .input-field2:focus {
  outline: none;
}

.form-select {
  position: relative;
}

select {
  color: #9B9B9B;
}

select#Program,
select#specialisation {
  width: 60%;
  margin: 10px 0 10px 50px;
  padding: 8px 0px;
  color: #9B9B9B;
  border: transparent;
  border-bottom: 1px solid #9B9B9B !important;
}

select#Program:focus, select#specialisation {
  outline: none;
}

.checkbox {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-left: 50px;
}
.checkbox label {
  font-size: 14px;
}
.checkbox input {
  width: 16px;
    height: 16px;
  margin: 10px 0px;
  padding: 0;
  vertical-align: middle;
}
.checkbox span a{
  color:#32A4EB;
}

.signupForm {
  width: 25%;
  background-color: white;
  padding: 1.5rem 2rem;
  border-radius: 50px;
  float: right;
  margin-top: 80px;
}

.signupForm .signup-wrapper  {
  margin: 2rem 0 1.5rem;
}

.signupForm .form-content h4 {
  margin: 0;
  color: #042665;
}

.signupForm .form-content .input-field {
  width: 100%;
  line-height: 2;
}

.signupForm .form-content .enquire_now {
  float: right;
}

.signupForm .sucess-content {
  padding: 3.3rem;
}

.signupForm .sucess-content .sucess-circle {
  position: relative;
  width: 60px;
  margin: 0 auto;
}

.signupForm .sucess-content .sucess-circle .circle {
  width: 60px;
  height: 60px;
  background-color: #66BE7B;
  border-radius: 50%;
}

.signupForm .sucess-content .sucess-circle .circle::after {
  content: "";
  background-color: transparent;
  position: absolute;
  left: 20px;
  top: 3px;
  width: 14px;
  border-bottom: 3px solid #fff;
  height: 40px;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
}

.signupForm .sucess-content h5 {
  text-align: center;
  color: #042665;
}


/******* Ram Css Section Start ********/

.container {
  width: 80%;
  height: auto;
  overflow: hidden;
  margin: auto;
  display: block;
}


@media screen and (max-width: 768px) {
  .container {
    width: 90%  ;
  }
  .ba_film_media .top-banner {
    background-size: 100% 100%;
  }
  .top-banner p {
    font-size: 21px;
  }
  .tabs {
    margin-top: 40px;
  }
  .tabs ul li {
    padding: 10px 5px;
  }
  .tabs ul li a {
    font-size: 12px;
  }
  .top-banner .title {
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      transform: none;
  }
  .signupForm {
    width: 90%;
    padding: 15px;
    margin-top: 50px;
    border-radius: 30px;
  }
  .box { min-height: 265px;}
  .box .content {
    width: 100%;
    left: 0;
    top: 35%;
    height: auto;
    position: relative;
    transform:none;
  }
  .box .content h2 {
    font-size: 18px;
  }
  .box .content p {
    font-size: 12px;
  }
  .box.script-writing {
    background-size: 100% 100%;
    padding: 20px 15px;
    min-height: 360px;
    overflow: hidden;
  }
  .enquire_now { float: right;}
  .box .content.right { width: 90%; left: 0; padding: 20px 15px; overflow: hidden;}
  .box.cinematography { padding: 20px 15px; min-height: 335px; overflow: hidden;}
  .box.editing { min-height: 375px; overflow: hidden;}
  .box.sound-design { padding: 20px 15px; min-height: 370px; overflow: hidden;}
  .box.digital-marketing { padding: 20px 15px; min-height: 360px; overflow: hidden;}
  .box.vfx { padding: 20px 15px; min-height: 220px; overflow: hidden;}
  .box.digital_imaging { padding: 20px 15px; min-height: 280px; overflow: hidden;}
  .enquiry_form .top-banner { min-height: auto; overflow: hidden;}
  #name, #date, #contact { background-size: auto;}
  .wrap-input-field2 { width: 10%;}
  .half-section select#specialisation { width: 75%;}
  .half-section .input-field.wrap-input-field6 { width: 100%;}
  .half-section .input-field.wrap-input-field6 { padding-left: 48px;}
  .half-section .input-field.wrap-input-field5 { width: 100%;}

}

/******* Ram Css Section End ********/
